www.mechardo3d.xyz {
    redir https://mechardo3d.xyz{uri} permanent
}

mechardo3d.xyz {
    encode zstd gzip
    reverse_proxy mechardo3d:3000
}

analytics.mechardo3d.xyz {
    reverse_proxy plausible:8000
}
