<!DOCTYPE html>
<html>

<head>
    <title>{{ title }} | Mechardo Labs</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.ico">
</head>

<body class="font-sans bg-gray-100 text-gray-900">
    <nav class="bg-gray-800 p-4">
        <ul class="flex justify-center gap-4">
            <li><a href="/" class="text-white hover:underline font-bold">Inicio</a></li>
            <li><a href="/products" class="text-white hover:underline font-bold">Productos</a></li>
            <li><a href="/blog" class="text-white hover:underline font-bold">Blog</a></li>
            <li><a href="/contact" class="text-white hover:underline font-bold">Contacto</a></li>
        </ul>
    </nav>
    <main class=" mx-auto p-4">
        {% block content %}{% endblock %}
    </main>
</body>

</html>